rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn()
        && (
          request.auth.token.email == 'abuali882005@gmail.com'
          || request.auth.token.email == 'info@esnad.com.lb'
        );
    }

    match /{path=**} {
      allow read, write: if isAdmin();
    }
  }
}

